@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(..//blocks/profile/profile.css);
@import url(..//blocks/profile/__details/profile__details.css);
@import url(..//blocks/profile/__image/profile__image.css);
@import url(..//blocks/profile/__text/profile__text.css);
@import url(..//blocks/profile/__name/profile__name.css);
@import url(..//blocks/profile/__edit-button/profile__edit-button.css);
@import url(..//blocks/profile/__title/profile__title.css);
@import url(..//blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/cards/__array/cards__array.css);
@import url(../blocks/cards/__place/cards__place.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__delete/cards__delete.css);
@import url(../blocks/cards/__location/cards__location.css);
@import url(../blocks/cards/__location-title/cards__location-title.css);
@import url(../blocks/cards/__like-button/cards__like-button.css);
@import url(../blocks/cards/__like-button/_active/cards__like-button_active.css);


@import url(..//blocks/footer/footer.css);
@import url(..//blocks/footer/__text/footer__text.css);

@import url(..//blocks/popup/popup.css);
@import url(..//blocks/popup/__content/popup__content.css);
@import url(..//blocks/popup/__content/_preview/popup__content_preview.css);
@import url(..//blocks/popup/__form/popup__form.css);
@import url(..//blocks/popup/__input/popup__input.css);
@import url(..//blocks/popup/__title/popup__title.css);
@import url(..//blocks/popup/__button/popup__button.css);
@import url(..//blocks/popup/__close-button/popup__close-button.css);
@import url(..//blocks/popup/__preview-image/popup__preview-image.css);
@import url(..//blocks/popup/__preview-text/popup__preview-text.css);
@import url(..//blocks/popup/_open/popup_open.css);
@import url(..//blocks/popup/__error/popup__error.css);