.popup__button {
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 15px;
    margin-bottom: 36px;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .popup__button {
      font-size: 14px;
      line-height: 17px;
      min-width: 238px;
    }
  }

  .popup__button_disabled {
    opacity: 0.2;
    pointer-events: none;
}